@media screen and (max-width: 375px) {
    header{
        /*padding: 0 10px;*/
    }
    .header__top_nav{
        display: none;
    }
    .header__button_nav{
        display: flex;
    }

    .header__center{
        width: 100%;
        margin: 135px 0;
    }
    .header__center h2{
        font-size: 30px;
    }
    .header__center h1{
        font-size: 45px;
    }

    .header__bottom{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        bottom: -550px;
        row-gap: 20px;
    }
    .header__bottom_item{
        width: 100%;

    }
}